body { 
    background: #eeeeee; 
    line-height: 150%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

figure { 
    background-color: white; 
}

section, blockquote {
    max-width: 600px;
    margin: auto;
}

li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.purple {
    color: purple;
}

.center {
    text-align: center;
}
